# Base
chardet
toml
tomli
rich
textual
psutil
requests
pillow
loguru
pydantic
pyyaml
httpx
#pytest
emoji
jinja2
pyperclip
rich-pixels>=3.0.0
pycryptodomex
keyring
markdownify
# Chunk Library
#tqdm
#langdetect
#transformers
#nltk
#scikit-learn
# LLM
#vllm
#transformers
#mlx-lm
#
# Audio